*{
    margin:0;
    padding:0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: linear-gradient(rgba(20, 20, 20, 0.7),rgba(20,20,20,0.7)),url(Marseillespaysages3.png);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 14%;
    display: flex;
    align-items: center;
}
.logo img{
    width: 20%;
    height: 12.6%;
    cursor: pointer;
}
.menu{
    flex: 1;
    text-align: right;
    height: 100%;
    align-content: center;
}
.login{
    height: 50%;
    display: flex;
    width: 10%;
    align-content: center;
    justify-content: center;
    margin-left: 60px;
}
.menu ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 125%; 
    position: relative;
}
.menu ul li a:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -1px; 
    height: 3%; 
    background: #fff;
    border-radius: 5%;
    transform: translateY(10px); 
    transition: .5s; 
    opacity: 0;
}
.menu ul li a:hover::after {
    transform: translateY(0);
    opacity: 1;
}
.login .btnLogin-popup {
    background: transparent;
    border: 60% solid white;
    outline: none;
    width: 120%;
    height:100%;
    font-size: 125%;
    border-bottom-color: #fff;
    border-left-color: white;
    border-top-color: #fff;
    border-right-color: #fff;
    color: #fff;
    font-weight: 400;
    font-family: Arial, serif;
    border-radius: 10%;
    cursor: pointer;
}

.row{
    display: flex;
    height: 88%;
    width: fit-content;
    align-items:center;
}
.col{
    flex-basis: 70%;
}
h1{
    font-size: 500%;
    color: white;
}
p{
    color: aliceblue;
    font-size: 90%;
    line-height: 120%;
}
.Actu{
    width: 18%;
    font-size: 80%;
    border-radius: 95%;
    padding: 1.5% 0.4%;
    color: #000;
    cursor: pointer;
    background: #fff;
    border: none; 
    outline: none;
    margin-top: 5%;
}
.col1{
    flex-basis: 50%;
    height: 100%;
    margin-left: 10%;
}
.card{
    width: 42.6%; 
    height: 42.6%; 
    display: inline-block;
    align-content: center;
    border-radius: 12.9%;
    padding: 6.8% 9.7%;
    box-sizing:border-box;
    cursor: pointer;
    margin: 1.94% 2.48%;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(IPCClogo.png);
}
.card2{ 
    background-image: url(WWFlogo.png);
}   
.card3{ 
    background-image: url(Rfrançaiselogo.png);
}
.card4{
    background-image: url(TEDClimatelogo.png);
}
.card5{
    background-image: url(NationUnisLogo.png);
}
.card6{
    background-image: url(meteofrance.png);
}
.card:hover{
    transform: translateY(-10px);
}